<link rel="stylesheet" href="/styles/products.css">
<script src="/script/producto.js"></script>

<main>
<% const edit = renderType == 'edit';
if (edit) { %>
    <h1>Editar Producto</h1>
<% } else { %>
        <h1>Crear Producto</h1>
<% } %>

<form action="/productos/<%= edit ? producto.id : 'crear' %>" method="POST" enctype="multipart/form-data">
    <div class="left-side">
        <label for="nombre">Nombre:</label> <br>
        <input type="text" name="nombre" value="<%= edit ? producto.nombre : '' %>" required>

        <br> <label for="precio-costo">Precio Costo:</label> <br>
        <span id="dollar-symbol"><i class="fa-solid fa-dollar-sign"></i></span>
        <input type="number" id="precio-costo" step="0.01" name="precio_costo" value="<%= edit ? producto.precioCosto : '' %>" required>

        <br> <label for="precio-venta">Precio Venta:</label> <br>
        <span id="dollar-symbol"><i class="fa-solid fa-dollar-sign"></i></span>
        <input type="number" id="precio-venta" step="0.01" name="precio_venta" value="<%= edit ? producto.precioVenta : '' %>" required>

        <br> <label for="ganancia">Ganancia:</label> <br>
        <input type="number" id="ganancia" name="ganancia" value="<%= edit ? producto.ganancia : '' %>" required>
        <span id="percentage-symbol"><i class="fa-solid fa-percent"></i></span>

        <br> <label for="tipo">Tipo:</label> <br>
        <select name="tipo" required>
            <option>Menudeo</option>
            <option>A granel</option>
        </select>
    </div>
    
    <div class="right-side">
        <fieldset>
            <legend for="codigo" id="label-codigos">
                Códigos:
                <button type="button" id="boton-agregar-codigo" class="rounded-button"><i class="fa-solid fa-plus"></i></button>
            </legend>        
            <div id="codigos-container">
                <%  if (edit) { JSON.parse(producto.codigos).forEach(codigo => { %>
                    <input type="text" name="codigo[]" value="<%= codigo %>" required>
                <% }); } else { %>
                    <input type="text" name="codigo[]" required>
                <% } %>
            </div>
        </fieldset>
        
        <br> <label for="proveedor">Proveedor:</label> <br>
        <select name="proveedor" required>
            <% proveedores.forEach(proveedor => { %>
                <option value="<%= proveedor.nombre %>" <% if (edit && proveedor.nombre === producto.proveedor) { %> selected <% } %> >
                    <%= proveedor.nombre %>
                </option>
            <% }); %>
        </select>

        <br> <label>Grupo:</label> <br>
        <select>
            <option>Ninguno</option>
        </select>
        
        <br> <label>Imagen:</label> <br>
        <input type="file" name="imagen" accept="image/*">
        
        <br><br>
        <input type="submit" class="green-button" value="<%= edit ? 'Editar' : 'Crear' %>">
    </div>
</form>
</main>